header, .left, .right, footer {z-index: 2;}
.background {z-index: 1;}


@keyframes circle {

    25%{
        -webkit-transform:rotate(360deg)
                  translate(-165px)
                  rotate(0deg);
                transform:rotate(360deg)
                  translate(-165px)
                  rotate(0deg);
                  scale: (2);
      
      }

      50%{
        -webkit-transform:rotate(360deg)
                  translate(-165px)
                  rotate(-360deg);
                transform:rotate(360deg)
                  translate(-165px)
                  rotate(-360deg);
                  scale: (2);

      }
}



.background {
 
  background-color: #2F143D;
  width: 100vw;
 
  overflow: hidden;  
  position: relative;

}



.blur { 
    animation: circle 30s linear infinite ;
    border-radius: 50%; 
}


.blur:nth-child(1) {
    height: 130%;
    width: 130%;
    background-color: #8B39B4;
    position: absolute;
    left: -22%;
    top: -20%;
    opacity: 0.85;
}

.blur:nth-child(2) {
    height: 200%;
    width: 70%;
    background-color: #2E1F4D;
    position: absolute;
    right: -15%;
    top: -10%;
    animation-delay: 0.2s;
    opacity: 0.7;
    
}

.blur:nth-child(3) {
    height: 100%;
    width: 70%;
    background-color: #56B4B4;
    position: absolute;
    left: 50%;
    top: 80%;
    animation-delay: 1s;
    opacity: 0.7;
   
}

.blur:nth-child(4) {
    height: 45%;
    width: 90%;
    background-color: #8093BC;
    position: absolute;
    right: 10%;
    top: 85%;
    opacity: 0.5;
    
}

.background::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);
}