@font-face {
    font-family: 'arnaiz';
    src: url(../assets/Arnaiz.otf);
}

@font-face { 
    font-family: 'benzin';
    src: url(../assets/Benzin.ttf);
}

@font-face {
    font-family: 'clash';
    src: url(../assets/ClashDisplay-Bold.otf);
}


body {
        
    background-color: black;
    color: white;

}

header {
    margin: 0;
    
        display: flex;
            flex-wrap: wrap;
            align-items: start;
}


.logo {
    font-family: 'arnaiz';
    font-size: 2em;
    text-align: center;
    margin: 1em;
}

.left {
    margin: 0; 
    display: flex;
            justify-content: center;
            align-items: center;
}


.focus {  
    transition: transform 4s cubic-bezier(0.23,1.83,0.42,0.19); 

    cursor: pointer;        
}
    .focus:hover {
        transform: scale(0.75);
    }

    .circle {
        
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation : 3s linear infinite alternate boxMagic,
                    8s linear infinite spinning
                    
    }

        @keyframes boxMagic {
            from {
                -webkit-box-shadow: 
                1px -1px 2.5px #a6bff5,
                -1px 1px 2.5px #591b77,
                1px 1px 2.5px #ad38e7,
                1px 1px 2.5px #56B4B4;
                        box-shadow: 
                1px -1px 2.5px #a6bff5,
                -1px 1px 2.5px #591b77,
                1px 1px 2.5px #ad38e7,
                1px 1px 2.5px #56B4B4;
            }
            to {
                -webkit-box-shadow: 
                0 -10px 5px #a6bff5,
                -10px 0 5px #591b77,
                10px 0 5px #ad38e7,
                0 10px 5px #56B4B4;
                        box-shadow: 
                0 -10px 5px #a6bff5,
                -10px 0 5px #591b77,
                10px 0 5px #ad38e7,
                0 10px 5px #56B4B4;
            }
        }

        @keyframes spinning{

            from {
                -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
            }

        }

        @keyframes pulse {
            0% {
                opacity: 1;
                -webkit-transform: rotate(0) scale();
                        transform: rotate(0) scale();
            }
        
            100% {
                opacity: 0;
                -webkit-transform: rotate(-720deg) scale(0.55);
                        transform: rotate(-720deg) scale(0.55);
                cursor: auto;
            }

            
        }


    .right { 
        
        
        display: flex;
            justify-content: space-evenly;
            align-items: center;
        
        
            flex-wrap: wrap;
    }




    .compteur { 
        font-size: 5em;
        
        display: flex; 
            text-align: center;
            justify-content: center;   
          
        font-family: 'benzin'
            
    }

    footer {
        display: flex;
            align-items: flex-end;
            
            width:  100vw;
            position: relative;
        overflow: hidden;
        margin: 0;
    }

    @keyframes animate {
        0% {right: -100%;}
        100%{right: 0%;}
    }
        .slide {
            
            width:  200%;
            
            display: flex;

            overflow: hidden;

            position: absolute;
            animation: animate 15s linear infinite;
            
            
        }
        
            .social {
              
                font-size: 2.5em;
                width: 100%;
                
                display: flex;
                justify-content: space-around;
                

                font-family: 'clash';


                position: relative;

                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 0.2px;
                transition: font-size 3s;
            }

            .social span {cursor: pointer;}
















